.dashboard__item--work {
  background-color: $red-100;
  background-image: url('../images/icon-work.svg');
  background-repeat: no-repeat;
  background-position: 92% -8%;
}

.dashboard__item--play {
  background-color: $blue-100;
  background-image: url('../images/icon-play.svg');
  background-repeat: no-repeat;
  background-position: 92% -8%;
}

.dashboard__item--study {
  background-color: $red-200;
  background-image: url('../images/icon-study.svg');
  background-repeat: no-repeat;
  background-position: 92% -8%;
}

.dashboard__item--exercise {
  background-color: $green-100;
  background-image: url('../images/icon-exercise.svg');
  background-repeat: no-repeat;
  background-position: 92% -8%;
}

.dashboard__item--social {
  background-color: $violet-500;
  background-image: url('../images/icon-social.svg');
  background-repeat: no-repeat;
  background-position: 92% -8%;
}

.dashboard__item--self-care {
  background-color: $orange-100;
  background-image: url('../images/icon-self-care.svg');
  background-repeat: no-repeat;
  background-position: 92% -8%;
}